cscope.out
*.o
*.d
*.lib
*.dll
*.dsc
*.gch
*.dwo
src/wg
src/wg.exe
*.swp
*.id0
*.id1
*.id2
*.nam
*.til
*.pro.user
maint/
.vscode/
account
dev-account
gennearaccount
nearaccountgenerator
*.tar.xz
*.dsc
