Source: cgtools
Section: unknown
Priority: optional
Maintainer: Vicente Aceituno Canal <vpn@cableguard.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <https://www.cableguard.org>
#Vcs-Browser: https://salsa.debian.org/debian/cgtools
#Vcs-Git: https://salsa.debian.org/debian/cgtools.git
Rules-Requires-Root: no

Package: cgtools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NEAR implicit account generator CLI
 standalone executable to generate NEAR protocol implicit account JSON files with account id and keypair.
