Source: gennearaccount
Section: unknown
Priority: optional
Maintainer: Discernible IO <vpn@discernible.io>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <https://www.discernible.io>
Rules-Requires-Root: no

Package: gennearaccount
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NEAR implicit account generator CLI
 standalone executable to generate NEAR protocol implicit account JSON files with account id and keypair.
